<h1>Create New Polling Units</h1>

<form method="POST">
polling_unit_number
polling_unit_name
polling_unit_description
lat
long
entered_by_user
date_entered
    <label>New polling unit id</label>
    <input type="text" id="polling_unit_id" placeholder="Type in polling unit id"/>
    
    <label>New ward id</label>
    <input type="text" id="ward_id" placeholder="Type in ward id"/>

    <label>lga id</label>
    <input type="text" id="lga_id" placeholder="Type in lga id"/>

    <label>Unique ward id</label>
    <input type="text" id="" placeholder="Type in "/>

    <label>Polling unit number</label>
    <input type="text" id="polling_unit_number" placeholder="Type in polling unit number"/>

    <label>Polling unit name</label>
    <input type="text" id="polling_unit_name" placeholder="Type in polling unit name"/>

    <label>Polling unit description</label>
    <input type="text" id="polling_unit_description" placeholder="Type in polling unit description"/>

    <label></label>
    <input type="text" id="" placeholder="Type in "/>

    <label></label>
    <input type="text" id="" placeholder="Type in "/>
</form>